<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconMono</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMono</string>
				</array>
			</dict>
			<key>AppIconPodcasts</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPodcasts</string>
				</array>
			</dict>
            <key>AppIconBooks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBooks</string>
				</array>
			</dict>
			<key>AppIconMusic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMusic</string>
				</array>
			</dict>
			<key>AppIconPlex</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPlex</string>
				</array>
			</dict>
			<key>AppIconTelegram</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconTelegram</string>
				</array>
			</dict>
			<key>AppIconBarbie</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBarbie</string>
				</array>
			</dict>
			<key>AppIconWarp</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWarp</string>
				</array>
			</dict>
            <key>AppIconATP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconATP</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ruddarr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ruddarr</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
		<string>imdb</string>
		<string>letterboxd</string>
		<string>callsheet</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
